* {
    margin: 0;
    padding: 0;

}

body {

    font-family: arial, sans-serif;
    background-color: #000000 ;
}


header {

    background-color: #211f24b6;
    color: rgb(248, 248, 248);
    text-align: center;
    padding: 1em;

}

footer {

    background-color: rgba(15, 2, 2, 0);
    color: rgb(253, 253, 253);
    text-align: center;
    padding: 1em;

}

.img-perfil {

    width: 30%;
    border-radius: 50%;

}

.txt-titulo {

    font-size: 220% !important;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;

}



.conteudo {

    width: 100% !important;
    background-color: white !important;
    padding: 2em !important;
    margin-top: 1em !important;
    border-radius: 2em !important;
}

.principal {
    text-align: center !important;
    margin-left: 10% !important;
    margin-right: 25% !important;
    margin-top: 1% !important;
    margin-bottom: 50% !important;

}


.img-icons {
    width: 100% !important;
}

.txt-icone {

    font-size: 200% !important;
}




a {
    text-decoration: none !important;
    color: black !important;

}



@media (min-width: 200px) and (max-width: 768px) {

    .img-icone {

        width: 250% !important;
    }

    .txt-icone {

        font-size: 220% !important;

    }

}

.conteudo {

    width: 130% !important;
    background-color: white !important;
    padding: 1em !important;
    margin-top: 2em !important;
    border-radius: 1em !important;


}








































